.App-container{
  min-height: 100%;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: auto;

  .horizontal-scroll_wrapper{
    flex: 1;
    overflow-x: auto;
    width: 100%;
    min-width: min-content;
    margin-bottom: 1rem;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    left: 0;

    h1 {
      text-align: center;
      white-space: nowrap;
      color: #1a76d3;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .toggle-on, .toggle-off{
      cursor: pointer;
      font-size: 4rem;
      &:hover{
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
    }

    .toggle-on{
      color: #4CAF50;
      transition: color 0.3s ease;
    }

    .toggle-off{
      color: #F44336;
      transition: color 0.3s ease;
    }
  }
}

.dark{
  background-color: #1a1a1a;
  color: #ffffff;
}

/* .light{
    background-color: #f0f0f0;
    color: #000000;
  } */
