
.App-container{
  min-height: 100%;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* background-color: #f0f4f8; */

  .horizontal-scroll_wrapper{
    flex: 1;
    overflow-x: auto;
    width: 100%;
    min-width: min-content;
    margin-bottom: 1rem;
  }

  h1 {
    text-align: center;
    white-space: nowrap;
    color: #1a76d3;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}