html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#root{
  height: 100%;
}

@keyframes slide-down {
  from {
      transform: translate(-50%, -100%);
      opacity: 0;
  }
  to {
      transform: translate(-50%, -50%);
      opacity: 1;
  }
}

/* @keyframes slide-up {
  from {
      transform: translateY(0);
      opacity: 1;
  }
  to {
      transform: translateY(-100%);
      opacity: 0;
  }
} */

/* .cardDialog{
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;

  animation: slide-down 0.5s ease-in-out;
} */

.confirmation-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(1px); */
}

/* blur effect is causing performance issues and lag */

/* @media (max-width: 768px) {
  .cardDialog {
      padding: 0.8rem;
      width: 95%;
  }
}

@media (max-width: 480px) {
  .cardDialog {
      padding: 0.6rem;
      width: 98%;
  }
} */

.AddTaskDialog{
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 50%;
  overflow-y: auto;
  position: relative;

  &::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
  }

  .edit-delete-wrapper{
    display: flex;
    justify-content: flex-end;
  
    .delete-wrapper, .edit-wrapper{
        margin: 0;
        background-color: white;
        border-radius: 40%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
  
        svg {
            font-size: 1.5rem;
        }
  
        &:hover {
            transform: scale(1.1);
            transition: all 0.3s;
        }
    }
  
    .edit-wrapper:hover {
        color: #00f;
        cursor: pointer;
    }
  
    .delete-wrapper:hover {
        color: #f00;
        cursor: pointer;
    }

    button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      /* position: absolute;
      left: 1rem; */

      &:hover{
        color: red;
      }
    }
  }
}

.confirmation-dialog{
  position: absolute;
  border: none;
  padding: 0;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 30%;

  @media (max-width: 768px) {
    width: 50%;
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}
