.options{
    display: flex;
    margin-top: 1rem;
}

.options > *{
    margin-right: 1rem;
}

.options label{
    font-weight: bold;
    font-size: 1.2rem;
}

.options span{
    font-size: 1.2rem;
    color: #888;
}